html {
    height: 100%;
}

body.home {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #ffffff;
}

#home {
  height: 100vh;
  overflow: hidden;
}

#home .home-swiper, #home .swiper-slide {
    width: 100%;
    height: 100%;
}

#home .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#home .swiper-slide .content {
    padding-left: 6%;
    width: 550px;
}
#home .swiper-slide .content .content-inner {
  border-radius: 10px;
  padding: 15px;
  backdrop-filter: blur(1px);
  background: rgb(0 0 0 / 15%);
}

#home .swiper-slide .content p {
    margin: 30px 0 30px 0;
}
/* pagination */

.swiper-pagination-bullet {
  background: black;
  transition: height 2.5s;
  height: 10px;
  width: 10px;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: white;
  height: 20px;
  transition: height 2.5s;
}

/* buttons */

#home .swiper-buttons-bullet-active {
    background: transparent;
}

#home .swiper-buttons-bullet {
    position: relative;
    opacity: 1;
    background: transparent;
    width: auto;
    margin-bottom: 80px;
    height: 20px;
    cursor: pointer;
}

#home .swiper-buttons-bullet .divider {
    width: 40px;
    height: 2px;
    background-color: #fff;
}

#home .swiper-buttons-bullet:hover {
    transition: all .5s ease;
    transform: scale(1.1);
}

#home .swiper-buttons-bullet .bullet-btn {
    cursor: pointer;
}

#home .swiper-buttons-bullet .preview {
    width: 105px;
    height: 60px;
    background-size: 100% 100% !important;
    position: absolute;
    left: -110px;
    top: -33px;
    border: 1px solid #fff;
}

#home .swipper-buttons {
    position: fixed;
    top: calc(50% - 80px);
    right: 5%;
    left: auto;
    width: 100px;
    margin-top: -85px;
    text-align: right;
    z-index: 3;
}


/* mobile */

@media screen and (max-width: 767px) {

  #home {
    height: 100vh;
    overflow: hidden;
  }

    button.button.withArrow, a.button.withArrow {
        display: none;
    }

    #home .swiper-slide {
      justify-content: flex-end;
      /* background-size: auto 75%; */
    }

    #home .swiper-slide .content {
      padding-left: 0;
      width: unset;
      /* height: 25%; */
      overflow: hidden;
      margin-bottom: 10vh;
    }

    #home .swiper-slide .content .content-inner {
      /* border-radius: 10px; */
      padding: 15px;
      padding-bottom: 0;
      backdrop-filter: blur(1px);
      background: #00000033;

    }
    #home .swipper-buttons {
      position: absolute;
      /* bottom: 20vh; */
      bottom: 0;
      top: auto;
      width: 100vw;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      left: 0;
      height: 15vh;
      background: transparent;
    }


    #home div.swipper-buttons  br {
      display: none;
      height: 0;
    }


    #home .swiper-buttons-bullet {
        float: left;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #home .swiper-buttons-bullet .preview {
        width: 65px;
        height: 40px;
        margin-bottom: 25px;
        margin: 0 auto;
        position: unset;
    }

    #home .swiper-buttons-bullet .preview-title {
        font-size: 14px;
        width: 100%;
        position: unset;
        text-align: center;
        white-space:nowrap;
        overflow:hidden;
    }

    #home .swiper-buttons-bullet .divider {
        display: none;
    }

    .title {
        font-size: 38px;
        margin-bottom: -17px;
        line-height: 46px;
    }

    .swiper-slide .title{
      font-size:35px !important;
      line-height: 40px;
    }

    #home .swiper-slide .content p {
      text-align: center;
      line-height: 25px;
    }

}

.preview-title {
    position: absolute;
    left: -110px;
    top: 30px;
    width: 110px;
    text-align: left;
    text-shadow: 0px 0px 4px black;
    text-align: center;
}

.bullet-btn:hover .preview-title {
    display: block;
}

/* Ligtbox start */
.lightbox {
    background-color: fade(black, 80%);
    overflow: hidden;
    position: fixed;
    display: none;
    z-index: 25;
    bottom: 0;
    right: 0;
    left: 0;
    top: 20px;
}

.lightbox-container {
    position: relative;
    max-width: 900px;
    margin: 5% auto;
    display: block;
    padding: 0 3%;
    height: auto;
    z-index: 10;

}

@media screen and (max-width: 768px) {
    .lightbox-container {
        margin-top: 30%;
    }
}

@media screen and (max-width: 414px) {
    .lightbox-container {
        margin-top: 33%;
    }

}

.lightbox-content {
    box-shadow: 0 1px 6px fade(black, 70%);
}

.lightbox-close {
    text-transform: uppercase;
    background: transparent;
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    display: block;
    border: none;
    color: white;
    top: -22px;
    right: 3%;
}

.video-container {
    padding-bottom: 60%;
    position: relative;
    overflow: hidden;
    height: 0;

}

.video-container video {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

/* IGNORE FORM THIS POINT ON */

body {
    background: #efefef;
}

#container {
    border-radius: 4px;
    max-width: 300px;
    height: auto;
    padding: 50px;
    background: white;
    margin: 100px auto;
}

#playme {
    background: #007fed;
    text-transform: uppercase;
    font-weight: 300;
    border: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    font-size: 14px;
    margin: 0;
}

/* Ligtbox END */
/*# sourceMappingURL=home.css.map */
