@keyframes fade_in_show {
  0% {
    opacity: 0;
    /* transform: scale(0.) */
  }

  100% {
    opacity: 1;
    /* transform: scale(1) */
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
  animation: fade_in_show 1s ease-in-out both;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 70%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .modal-content {
    width: calc(90% - 5px); /* Could be more or less, depending on screen size */
    margin: 3% auto; /* 15% from the top and centered */
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal iframe {
  margin-left: calc(50% - 210px);
  margin-top: 5px;
  width: 100%;
  height: calc(100% - 30px);
  margin-left: auto;
}
